@import '~normalize.css/normalize.css';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
//@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
//@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Teko:700');

.header {
    display:flex;
    // background: #1FA2FF;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: $primary-bg;
    border-bottom:2px solid #E0E0E0;
    height: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__title {
    justify-self: start;
}

.header__title h1 {
    font-family: 'Palanquin Dark', sans-serif;
    text-transform: uppercase;
    font-size:2.2em;
    letter-spacing: 1px;
    line-height: 70px;
    margin: 0 0 0 10px;
}

.header__title h1 a {
    text-decoration: none;
    color:#000;
}

.header__nav {
    justify-self: end;
    margin: 0 10px 0 0;
    display:block;
}

.header__menu {
    list-style:none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.header__menu li {
    float:left;
    line-height: 70px;
}

.header__menu li a {
    display:block;
    font-family: 'Roboto Slab', serif;
    color:#373D3F;
    text-decoration: none;
    font-size:1.05em;
    padding:0 11px 0 11px;
    transition: .2s background-color;
}

.header__menu li a:hover {
    background: $header-link-hover-color;
}

.main {
    display:flex;
    justify-content: space-between;
}

.content {
    justify-self: start;
    flex:10;
}

.table-of-contents {
    flex: 3;
    justify-self: end;
}

.table-of-contents__wrapper {
    margin:35px;
    background-color:#FFF9C4;
    padding:20px 0 20px 0;
}

.table-of-contents__menu {
    list-style:none;
    margin:0;
    padding:0;
}

.table-of-contents__menu li a {
    display:block;
    text-decoration: none;
    color:#000;
    font-family: 'Barlow Condensed', sans-serif;
    font-size:1.2em;
    letter-spacing: 2px;
    line-height: 29px;
    padding:3px 28px 3px 28px;
}

.table-of-contents__menu li a:hover {
    background-color: #d6d1a4;
}

.table-of-contents__submenu {
    list-style:none;
    margin:0;
    padding:0;
}

.table-of-contents__submenu li {
    display:block;
    padding:0 0 0 25px;
}

.table-of-contents__submenu li:hover {
    background-color: #d6d1a4;
}

.table-of-contents__active {
    background-color: #d6d1a4;
}

.chapter {
    margin:49px 35px 21px 35px;
    background-color: #f0f0f0;
}

.chapter__content > .chapter {
    margin:0 12px 12px 12px;
}

.chapter__title {
    font-family: 'Teko', sans-serif;
    font-size:1.85em;
    margin:0;
    border-bottom:1px dotted #000;
    //background: $primary-bg;
    padding:10px;
    position: relative;
}

.chapter__title::before {
    content: "";
    display: block;
    width: calc(100% + 14px);
    height: 69px;
    top:-14px;
    left:-14px;
    position: absolute;
    z-index:-1;
    float:left;
    background: $primary-bg;
}

.chapter__content > .chapter > .chapter__title {
    font-size:1.3em;
    background: inherit;
}

.chapter__content > .chapter > .chapter__title::before {
    display:none;
}

.chapter__content {
    font-family: 'Alegreya', serif;
    font-size:1.18em;
    padding:16px;
}

.step-by-step-guide {
    overflow: hidden;
    border-radius:50px;
    background-color: #4CAF50;
}

.step-by-step-guide__name {
    margin:0;
    padding:8px 0 0 55px;
    color:#efefef;
}

.step-by-step-guide__list {
    border-radius:50px;
    border:2px solid #efefef;
    list-style:none;
    margin:10px;
    padding: 0;
    overflow: hidden;
}

.step-by-step-guide__item {
    border-bottom:1px solid #efefef;
    overflow: hidden;
}

.step-by-step-guide__text {
    float:left;
    width:calc(70% - 1px);
    border-right:1px solid #efefef;
}

.step-by-step-guide__explanation {
    float:left;
    width:30%;
}

.header__hamburger-toggle {
	display:none;
}

.chapter__list {
    list-style: disc;
}

.chapter__list li {
    font-family: 'Arimo', sans-serif;
    font-size:1em;
    line-height: 1.6em;
}

.chapter__list li a {
    color:#373D3F;
}

.tooltip {
    text-decoration: underline;
}

@import 'mobile';