<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liczby Pierwsze</title>
    <link rel="stylesheet" href="{{ page.path }}/assets/css/app.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
    <header class="header">
        <div class="header__title">
            <h1><a href="{{ page.path }}/index.html">Liczby Pierwsze</a></h1>
        </div>
        
        <div class="header__hamburger-toggle">
            <div class="header__hamburger-toggle-bar1"></div>
            <div class="header__hamburger-toggle-bar2"></div>
            <div class="header__hamburger-toggle-bar3"></div>
        </div>
        <nav class="header__nav">
            <ul class="header__menu">
                <li{% if page.title == "Początek" %} class="active" {% endif %}><a href="{{ page.path }}/index.html">Początek</a></li>
                <li{% if page.title == "Algorytmy naiwne" %} class="active"{% endif %}><a href="{{ page.path }}/algorytmy-naiwne.html">Algorytmy naiwne</a></li>
                <li{% if page.title == "Chiński Test Pierwszości" %} class="active"{% endif %}><a href="{{ page.path }}/chinski-test-pierwszosci.html">Chiński Test Pierwszości</a></li>
                <li{% if page.name == "male-twierdzenie-fermata" %} class="active"{% endif %}><a href="#">Małe Twierdzenie Fermata</a></li>
                <li{% if page.name == "test-millera-rabina" %} class="active"{% endif %}><a href="#">Test Millera-Rabina</a></li>
                <li{% if page.name == "zastosowanie" %} class="active"{% endif %}><a href="#">Zastosowanie</a></li>
                <li{% if page.name == "porownanie" %} class="active"{% endif %}><a href="#">Porównanie</a></li>
                <li{% if page.title == "O stronie" %} class="active"{% endif %}><a href="{{ page.path }}/o-stronie.html">O stronie</a></li>
            </ul>
        </ul>
    </header>
    <main class="main">
        {{ content }}
    </main>
    <footer class="footer">
    </footer>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            showMathMenu: false,
            showMathMenuMSIE: false,
            showProcessingMessages: false,
            messageStyle: "none",
            tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
            },
            "HTML-CSS": { availableFonts: ["TeX"] }
        });
    </script>
    <script src="{{ page.path }}/assets/js/app.js"></script>
</body>
</html>